{% load static %}

<div class="about" id="about">
  <div class="label">
    <h2>About Me</h2>
  </div>

  <div class="about-all">
    <div class="about-left">
      <div class="skills">
        <span class="skills-title">Skills</span>
        <div class="skills-icons">
          <i class="fab fa-python" title="Python"></i>
          <i class="fab fa-html5" title="HTML"></i>
          <i class="fab fa-js"></i>
          <i class="fab fa-css3"></i>
          <i class="fab fa-django" title="Django"></i>
        </div>
      </div>

      <div class="fun-fact">
        <span>Bibliophile</span>
        <div class="code-block">
          <pre><code>
while book.unread():
    lie_down("bed")
    page_count += 1
          </code></pre>  
        </div>
      </div>

      <div class="quote"> 
        <p>If a book doesn't make me laugh out loud or blink back tears in public, did it even count?</p>
      </div>
    </div>

    <div class="about-right">
      <p>
        I am a passionate junior web developer currently studying and growing my skills in backend development.
        I am deeply interested in building web applications with Django, Django Rest Framework, .Net Core and basic frontend with HTML, CSS and JS.
        I enjoy learning how real-world systems are built and constantly improving my understanding of both frontend and backend development.
      </p>
      <p>My journey into tech began when I learnt simple problem solving techniques in computer science back in school. 
    Now, I thrive on turning ideas into functional applications, whether it’s RESTful APIs, database design, 
    or responsive UIs.I’m always eager to learn from the dev community.</p>
    </div>
  </div>
</div>