{%load static%}

<div class="about" id="about">
  <div class="label">
  <h2>About Me</h2>
  <br>
  <p>
    I am a passionate junior web developer currently studying and growing my skills in backend development.
    
    I am deeply interested in building web applications with Django, Django Rest Framework, .Net Core and basic frontene with HTML, CSS and JS.

    I enjoy learning how real-world systems are built and constantly improving my understanding of both frontend and backend development.
  </p>
</div>
</div>