{% load static %}
<div class="skills-section" id="skills">
  <h2 class="skills-title">Skills & Tools</h2>
  <br><br>
  <p class="skills-subtitle">
    A blend of technical and analytical skills that help me transform data into business value.
  </p>

  <div class="skills-grid">
    <span class="skill-box">HTML</span>
    <span class="skill-box">CSS</span>
    <span class="skill-box">JavaScript</span>
    <span class="skill-box">React</span>
    <span class="skill-box">Python</span>
    <span class="skill-box">Django</span>
    <span class="skill-box">Django REST Framework</span>
    <span class="skill-box">PostgreSQL</span>
    <span class="skill-box">Git & GitHub</span>
    <span class="skill-box">VS Code</span>
    <span class="skill-box">Postman</span>
   
  </div>
</div>
